html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

#sidebar {
    background: #333;
    width: 250px;
    float: left;
    height: 100%;
}

#container {
    margin-left: 250px;
    height: 100%;
}
